<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}"  />
    
  </head>

  <body>
    <div style="background-size: cover;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.01),
            rgba(255, 255, 255, 0.01)
          ),
          url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
        color: white;
        padding: 15px;">


      <!-- Navbar with calculator button and Title -->
         <!-- Start of navbar -->
          <div class="nav">
            <a
        href="{% url 'index' %}"
        style="text-decoration: none; color: black; font-size: 1.7em"
      >
        <div class="backButton" style="color: white; transform: translateY(-15px);">
          <?xml version="1.0"?>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs"
            version="1.1"
            width="50"
            height="25"
            x="0"
            y="0"
            viewBox="0 0 31.494 31.494"
            style="enable-background: new 0 0 512 512"
            xml:space="preserve"
            class=""
          >
            <g>
              <path
                xmlns="http://www.w3.org/2000/svg"
                d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554  c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587  c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
                fill="#ffffff"
                data-original="#1e201d"
                class=""
              />
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
              <g xmlns="http://www.w3.org/2000/svg"></g>
            </g>
          </svg>
          <span style="font-size: 32px;">Back</span> 
        </div>
      </a>
            <!-- <h1 style="font-size: 48px; color: white;">l</h1> -->
            <h1 style="font-size: 64px; padding-bottom: 10px; border-bottom: 2.5px goldenrod solid; position: absolute; transform: translateX(-3.5rem);">DASHBOARD</h1>
            <!-- <br> -->
            {% if flag %}
              <a href="{% url 'calcLogin' code=code %}" style="text-decoration: none;">
                <!-- Calculator Button Starts -->
            <div style="transform: translate(30.0rem, 0.3rem)">
              <div class="container-box">
                <div class="left-side">
                  <div class="card">
                    <div class="card-line"></div>
                    <div class="buttons"></div>
                  </div>
                  <div class="post">
                    <div class="post-line"></div>
                    <div class="screen">
                      <div class="dollar">$</div>
                    </div>
                    <div class="numbers"></div>
                  </div>
                </div>
                <div class="right-side">
                  <div class="new" style="color: black"><h4>Calculate</h4> </div>

                  <svg
                    class="arrow"
                    xmlns="http://www.w3.org/2000/svg"
                    width="512"
                    height="512"
                    viewBox="0 0 451.846 451.847"
                  >
                    <path
                      d="M345.441 248.292L151.154 442.573c-12.359 12.365-32.397 12.365-44.75 0-12.354-12.354-12.354-32.391 0-44.744L278.318 225.92 106.409 54.017c-12.354-12.359-12.354-32.394 0-44.748 12.354-12.359 32.391-12.359 44.75 0l194.287 194.284c6.177 6.18 9.262 14.271 9.262 22.366 0 8.099-3.091 16.196-9.267 22.373z"
                      data-original="#000000"
                      class="active-path"
                      data-old_color="#000000"
                      fill="#cfcfcf"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <!-- Calculator Button Ends -->
              </a>
              
            {% endif %}
          </div>
          <br>
          <br>
          <!-- End of Navbar -->

          <!-- Budget and cards -->
          <div class="nav" style="padding-bottom: 20px;">
              
              <div style="font-size: 32px; color: goldenrod;">
                Budget:
                <span style="
                border: 2px white solid; 
                width: 2rem; 
                height: 2rem; 
                border-radius: 6px; 
                margin: 0.8rem; 
                padding: 0.8rem; 
                text-align: center; 
                color: white;">{{user.purse}} CR</span>
              </div>
              <div style="font-size: 32px; color: goldenrod;display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
                <span data-tooltip="I’m the tooltip text.">Powercards: </span> 
                        
                {% if team.user.rtm %}
                <span data-html="true" class="rtm-tooltip" flow="down" tooltip="Status: {{team.user.rtm}} Desc: Successfully Bid player can be purchased.Can only be used on specific team's
player.Each team will be given 1 RTM." >
                      
<img class="powercards" src="{% static 'powercards/RTM.jpg' %}"  alt="" style="margin-left: 15px;">
</span>
                {% else %}
                <span data-html="true" class="rtm-tooltip" flow="down" tooltip="Status: {{team.user.rtm}} Desc: Successfully Bid player can be purchased.Can only be used on specific team's
player.Each team will be given 1 RTM." >
                      
<img class="powercards" src="{% static 'powercards/RTM.jpg' %}"  alt="" style="margin-left: 15px; filter: grayscale(100%)">
</span>
                      {% endif %}


                    <!-- <img src="../static/powercards/RTMBG.png" alt=""> -->
                   {% if team.user.rts %}
                   
                   <span flow="down" tooltip="Status: {{team.user.rts}} Desc: Can sell a player at any point during the match.">
 
                     <img class="powercards" src="{% static 'powercards/RTS.jpg' %}" alt="" style="margin-left: 15px;">
                   </span>
                   {% else %}
                   <span flow="down" tooltip="Status: {{team.user.rts}} Desc: Can sell a player at any point during the match.">
 
                     <img class="powercards" src="{% static 'powercards/RTS.jpg' %}" alt="" style="margin-left: 15px; filter: grayscale(100%);">
                   </span>

                   {% endif %}
                  
                   {% if not team.user.discount %}
                   <span flow="down" tooltip="Status: {{team.user.discount}} Desc: Will get discount of 15% on maximum 2 players of the specified team.">
 
                     <img class="powercards" src="{% static 'powercards/DISCOUNT.png' %}" alt="" style="margin-left: 15px;">
                   </span>
                   
                   <span flow="down" tooltip="Status: {{team.user.joker}} Desc: Can probihit a team from getting that player.To be applied before the bidding starts and won’t be disclosed to other teams. ">
                   {% else %}
                   <span flow="down" tooltip="Status: {{team.user.discount}} Desc: Will get discount of 15% on maximum 2 players of the specified team.">
 
                     <img class="powercards" src="{% static 'powercards/DISCOUNT.png' %}" alt="" style="margin-left: 15px; filter: grayscale(100%);">
                   </span>
                   
                   
                   
                   {% endif %}

                   {% if team.user.joker %}
                   <span flow="down" tooltip="Status: {{team.user.joker}} Desc: Can probihit a team from getting that player.To be applied before the bidding starts and won’t be disclosed to other teams.">

                    <img class="powercards" src="{% static 'powercards/JOKER.png' %}" alt="" style="margin-left: 15px;">
                  </span>
                   {% else %}
                   <span flow="down" tooltip="Status: {{team.user.joker}} Desc: Can probihit a team from getting that player.To be applied before the bidding starts and won’t be disclosed to other teams.">

                    <img class="powercards" src="{% static 'powercards/JOKER.png' %}" alt="" style="margin-left: 15px;">
                  </span>
                  {% endif %}
              
              </div>
              
          </div>
          <!-- End of Budget and cards -->
      </div>
  
  </body>
</html>
